body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: gainsboro;
}


.barra {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}



.subtitulo {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 2px solid black;
    border-radius: 5px;
}

.accesorios-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    margin-top: 10px;
}



button {
     width: 100%;
    background: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

.pie {
    text-align: center;
    margin: 30px 0;
    color: black;
    font-weight: bold;
}


