body {
    font-family: Arial;
    margin: 0;
}


.barra {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.linea {
    height: 8px;
    background:white;
    border-top: 8px solid white;
}

.subtitulo {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.linea {
    height: 8px;
    background:white;
    border-top: 8px solid white;
}

.Gabinete {
    background: black;
    color: white;
    font-weight: bold;
}

.Procesador {
    background: black;
    color: white;
    font-weight: bold;
}

.Discoduro {
    background: black;
    color: white;
    font-weight: bold;
}

.MemoriaRAM {
    background: black;
    color: white;
    font-weight: bold;
}

.Monitor {
    background: black;
    color: white;
    font-weight: bold;
}

.Accesorios {
    background: black;
    color: white;
    font-weight: bold;
}
